*.pdf
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.brf
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.loa
*.lof
*.log
*.lol
*.lot
*.nlo
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.
*~
.~lock.*.*#
*.backup
*.kilepr
*.swp
.directory
